.skills {
  height: 100vh;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.skills-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 100px;
  z-index: 1;
  font-size: 1.5rem;
  color:#fff;
    text-shadow: 2px 2px 2px black;
}
.skills-title h2 {
  font-size: 2.5rem;
}

.skills-card {
  background-color: #777;
  box-shadow: 0px 0px 70px #999;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.skills-card::before {
  content: "";
  position: absolute;
  height: 600px;
  width: 600px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #00ccff
  );
  animation: animate 4s linear infinite;
}
.skills-card::after {
  content: "";
  position: absolute;
  height: 600px;
  width: 600px;
  background-image: conic-gradient(
    transparent,
    transparent,
    transparent,
    #b700ff
  );
  animation: animate 4s linear infinite -2s;
}
.skills-card span {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  background-color: #777;
  z-index: 1;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.skills-card-left-and-right {
  display: flex;
  z-index: 1;
}
.skills-card-title {
  z-index: 1;
}
.skills-card-element {
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 20px;
}
.skill-svg {
  height: 40px;
  margin: 0px 5px;
}
