.about {
  height: 100vh;
  min-height: 800px;
  display: flex;
  z-index: 1;
}
.about-left {
  width: 50%;
  background-color: #0f1922;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underphoto {
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, transparent, teal, transparent);
  z-index: 0;
  position: absolute;
  border-radius: 20px;
  transform: rotate(-4deg);
  transition: 0.2s ease;
}
.about-left img {
  aspect-ratio: 1/1;
  border-radius: 20px;
  width: 500px;
  z-index: 1;
  transform: rotate(4deg);
  position: relative;
  transition: 0.2s ease;
}
.section:hover img {
  transform: rotate(0deg);
  box-shadow: 0 0 20px teal;
}
.section:hover .underphoto {
  transform: rotate(0deg);
}

@keyframes salut {
  100% {
    transform: rotate(0deg);
  }
}

.about-right {
  background-color: #0f1922;
  width: 50%;
  padding: 0 70px;
}
.aboutme,
.description {
  color: white;
}
.description {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.about-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme {
  margin: 40px 0;
  color: white;
  font-size: 3rem;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}
.aboutme::before,
.aboutme::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aboutme::before {
  background-color: #0f1922;
  animation: typewriter 3s steps(9) infinite 1s;
}
.aboutme::after {
  width: 0.125em;
  background-color: #fff;
  animation: typewriter 3s steps(9) infinite 1s, blink 750ms steps(9) infinite;
}
@keyframes typewriter {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}

.button-cv {
  background-color: red;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border-radius: 10px;
  height: 70px;
  width: 250px;
  padding-left: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links-container {
  display: flex;
  margin: 40px 0px;
}
.links {
  height: 40px;
  margin: 10px;
}

@media ( max-width: 1100px ) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #0f1922;
  }
  .about-left img {
    aspect-ratio: 1/1;
    border-radius: 20px;
    width: 250px;
    z-index: 1;
  }
  .underphoto {
    width: 250px;
    height: 250px;
  }
  .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description
  {
    margin-bottom:25px;
  }
}

@media (max-width: 450px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: #0f1922;
  }
  .about-left img {
    aspect-ratio: 1/1;
    border-radius: 20px;
    width: 250px;
    z-index: 1;
  }
  .underphoto {
    width: 250px;
    height: 250px;
  }
  .links-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .description
  {
    margin-bottom:25px;
  }
}
