 
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ------------------------------------------------------------------------------------------------------ */




  .header {
    position: fixed;
    height: 90px;
  min-width: 460px;

    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: transparent;
    align-items: center;
}


.header .navbar {
    display: flex;
    justify-content:end;
    align-items: center;
    margin: auto;
    height: 100%;
    padding: 0 3rem;
}

.header .nav-menu a {
    color: #ffffff;
}

 
.header .nav-menu {
    display: flex;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}
.nav-item .active
{
    padding-bottom: 12px;
    border-bottom: 3px solid white;
}

.header .nav-item a:hover {
    padding-bottom: 12px;
    border-bottom: 3px solid white;
}

.hamburger {
    display: none;
}
li a{
    text-shadow: 0px 0px 3px black;
}


@media screen and (max-width:940px) {
    .header {
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    .header .navbar {
        max-width: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.582);
        width: 50%;
        height: 100vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .header .navbar img {
        width: 150px;
    }
}

 