.intro {
  height: 100vh;
  min-height: 800px;
  color: rgba(235, 217, 217, 0.336);
  background-color: #777;
  top: 0;
  position: relative;
  z-index: -1;
}
.scroll {
  position: absolute;
  left: 0;
  top: 70%;
  margin-left: -10px;
  font-size: 1.3rem;
  color: white;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
}
.mouse
{
  height: 80px;
  margin-left: 10px;
  transform: rotate(-90deg);
}

.info {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #333;
  box-shadow: 1px 0 30px #333;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 40px;
}
.box {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #333;
  margin: 20px 40px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 100px 0 40px #333;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid transparent;
  border-bottom: 6px solid #000;
}

.box .circle {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 300px;
  height: 300px;
  background: #111;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid #000;
  animation: glitch 725ms infinite;
}
.box .circle img,
.box img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 600px;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
  animation: bg-animation 1s infinite alternate;
  background-size: 400%;
}

.name h2 {
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.animate__animated.animate__jackInTheBox {
  --animate-duration: 1s;
}
.container {
  --animate-duration: 1.5s;
}
.i-title {
  height: 50px;
  overflow: hidden;
  margin-top: 50px;
}
.i-title-wrapper {
  height: 100%;
  animation: move 3s ease-in-out infinite alternate;
}
@keyframes move {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(-100px);
  }
}
.i-title-item {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(224, 219, 224);
  display: flex;
  align-items: center;
}

@media ( max-width: 1252px ) {
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .i-title
  {
    margin-top: 0px;
    z-index: 999;
  }
  .info .container
  {
    
  }
  .name
  {
    margin-top:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media ( max-width: 992px ) {
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .name
  {
    margin-top:130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
   
}
@media ( max-width: 768px ) {
   

  .name h1
  {
    font-size: 2.5rem;
  }
  .name h2
  {font-size: 2rem;}
  .scroll
  {
    margin-left: -60px;
  }
}


@media ( max-width: 450px ) {
  
  .info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .name
  {
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
h1{
padding-bottom: 20px;
  }
  .name h2
  {
    font-size: 1.5rem;
  }
  .animate__animated h1{
    font-size: 2.5rem;
  }

  .i-title
  {
    z-index: 1;
  }
  .scroll
  {
    z-index: 1;
    position: absolute;
    bottom: -100px;
    left: 40%;
    transform: rotate(0deg);
  }
  .mouse
{
  height: 70px;
  margin-left: 10px;
  transform: rotate(0deg);
}
.container
{
  bottom:95px;
}
}

 